$def with (result)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>API Test Server - YIDAOYONGCHE</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/assets/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
    </head>

    <body>

        <!-- Header -->
        <header id="header">
            <a href="/" class="title">API Test Server</a>
            <nav>
                <ul>
                    <li><a href="/" class="active">API Manage</a></li>
                    <li><a href="/show_tc">TestCase</a></li>
                    <li><a href="XX.html">TestPlan</a></li>
                    <li><a href="XX.html">TestResult</a></li>
                    <li><a href="xx.html">Performance</a></li>
                </ul>
            </nav>
        </header>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="inner">
                    <h1 class="major">API List</h1>

                    <!-- Table -->
                    <section>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <!--<th>$:result[0][0]</th>-->
                                    <th>$:result[0][1]</th>
                                    <th>$:result[0][2]</th>
                                    <th>$:result[0][3]</th>
                                    <th>A C T I O N</th>
                                </tr>
                                </thead>
                                <tbody>
                                $for item in result[1]
                                    <tr>
                                        <!--<td>$:item[0]</td>-->
                                        <td>$:item[1]</td>
                                        <td>$:item[2]</td>
                                        <td>$:item[3]</td>
                                        <td>
                                            <form action="/" method="post">
                                                <button name = "del_api_btn" type = "submit"
                                                        value= $:item[0]>Del</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <a href="/new_api_i" class="button special">Add</a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <!--<a href="/new_api_i" target="_blank" class="button special">Add</a>-->
                        </div>
                    </section>

                </div>
            </section>


        </div>
    </body>
</html>