$def with (api_id, api_title, test_case_template)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Test Server - YIDAOYONGCHE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
</head>

<body>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">$:api_title</h1>

            <section>
                <form action="/new_tc" method="POST">
                    $:test_case_template
                    <button name = "submit_api_btn" type = "submit"
                            value= $:api_id >Submit</button>
                </form>
            </section>

        </div>
    </section>


</div>
</body>
</html>